/*  your css code here. If applicable */
body{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.container{
	width:200px;
	height:200px;
	background-color:lightblue;
	border: 2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:18px;
	font-weight:600;
}
.container span{
	color: purple;
}